/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* STANDARDS */

html {
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #7a7a7a;
  font-size: 16px;
  min-height: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 140px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  background-color: #001059;
  padding: 10px 0;
}

header .title {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
}


header h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}

header h2 {
  font-size: 3rem;
  color: #00b0f0;
  font-weight: 400;
}

header h1 strong {
  font-weight: 700;
}


.logo {
  width: 160px;
  float: left;
}

.logo>img {
  width: 100%;
  height: auto;
}

.tradex {
  width: 140px;
  float: right;
  padding: 0 15px;
}

.tradex>img {
  width: 100%;
  height: auto;
}



main .title {
  float: left;
  width: 100%;
  padding: 20px 15px;
  background-color: #e7e6e6;
  color: #001059;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

main .box {
  float: left;
  width: 100%;
  padding: 20px 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .4);
  margin-bottom: 40px;
  font-weight: 400;

  font-size: 1.7rem;
  color: #999;
  line-height: 1.4;
}

main .box.evidence {
  padding: 20px 20px 20px 50px;
}

main .box.form {
  padding: 20px 20px 20px 50px;
  font-size: 1.0rem;
  margin-bottom: 12rem;
}


main .box strong {
  font-weight: 700;
}

.box-text {
  float: left;
  clear: left;
  width: 60%;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.multiple span{
  font-size: 14px;
}

.evidence  .box-text {
  width: 40%;
  padding-bottom: 5px;
}
.evidence  .box-title {
  margin-top: 30px;
}

.box-title-number {
  font-size: 4rem;
  color: #00b0f0;
  font-weight: 400;
  float: left;
}
.box-title-icon {
  width: 57px;
  float: left;
  color: #001059;
  margin: 0 15px;
}
.box-title-text {
  margin-bottom: 40px;
}

.box-content {
  margin-top: -20px;
  float: left;
  width: 100%;
  padding-right: 20px;
}

.box-imagem {
  float: left;
  width: 40%;
  min-height: 100%;
}
.box-imagem.mt {
  padding-top: 20px;
}

.box-shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}
.img-fluid {
  width: 100%;
  height: auto;
  float: left;
}

.box-imagem-before {
  position: relative;
  margin-left: -20px;
  margin-right: 20px;
  float: left;
  width: 30%;
  align-content: center;
}
.box-imagem-after {
  position: relative;
  float: left;
  width: 30%;
}

.box-imagem-before>small, .box-imagem-after>small {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.box-list {
  width: 100%;
  float: left;
}

.box-description {
  width: 80%;
  float: left;
  font-size: 14px;
}
.box-description>strong {

}
.box-status {
  width: 20%;
  float: left;
  font-size: 14px;

}
.box-status>strong {

}

.clear {
  clear: both;
}

footer {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  background-color: #001059;
  padding: 10px 0;

}



#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("../files/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}